<a href="https://colab.research.google.com/github/Pravallika-Myneni/hydrahacks-ml-workshop/blob/main/classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Classification:
Would a customer of Health Insurance be interested in  Vehicle insurance or not

## Importing necessary libraries and datasets

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Step 1 - Gathering Data

In [2]:
train_df = pd.read_csv("https://raw.githubusercontent.com/Pravallika-Myneni/hydrahacks-ml-workshop/main/Classification/train.csv", index_col = [0])

## step 2  Data Preparation

In [3]:
train_df.head()

,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
id,,,,,,,,,,,
1,Male,44,1,28.0,0,> 2 Years,Yes,40454.0,26.0,217,1
2,Male,76,1,3.0,0,1-2 Year,No,33536.0,26.0,183,0
3,Male,47,1,28.0,0,> 2 Years,Yes,38294.0,26.0,27,1
4,Male,21,1,11.0,1,< 1 Year,No,28619.0,152.0,203,0
5,Female,29,1,41.0,1,< 1 Year,No,27496.0,152.0,39,0

In [5]:
print(train_df.columns)
print(train_df.shape)

Index(['Gender', 'Age', 'Driving_License', 'Region_Code', 'Previously_Insured',
       'Vehicle_Age', 'Vehicle_Damage', 'Annual_Premium',
       'Policy_Sales_Channel', 'Vintage', 'Response'],
      dtype='object')
(381109, 11)

In [6]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 381109 entries, 1 to 381109
Data columns (total 11 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Gender                381109 non-null  object
 1   Age                   381109 non-null  int64
 2   Driving_License       381109 non-null  int64
 3   Region_Code           381109 non-null  float64
 4   Previously_Insured    381109 non-null  int64
 5   Vehicle_Age           381109 non-null  object
 6   Vehicle_Damage        381109 non-null  object
 7   Annual_Premium        381109 non-null  float64
 8   Policy_Sales_Channel  381109 non-null  float64
 9   Vintage               381109 non-null  int64
 10  Response              381109 non-null  int64
dtypes: float64(3), int64(5), object(3)
memory usage: 34.9+ MB

In [7]:
train_df.isna().sum()

Gender                  0
Age                     0
Driving_License         0
Region_Code             0
Previously_Insured      0
Vehicle_Age             0
Vehicle_Damage          0
Annual_Premium          0
Policy_Sales_Channel    0
Vintage                 0
Response                0
dtype: int64

It seems there are no null objects

In [9]:
for col in ['Vehicle_Age', 'Vehicle_Damage', 'Gender']:
  train_df[col]  = train_df[col].astype('category')
  train_df[col] = train_df[col].cat.codes
train_df.head()

,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
id,,,,,,,,,,,
1,1,44,1,28.0,0,2,1,40454.0,26.0,217,1
2,1,76,1,3.0,0,0,0,33536.0,26.0,183,0
3,1,47,1,28.0,0,2,1,38294.0,26.0,27,1
4,1,21,1,11.0,1,1,0,28619.0,152.0,203,0
5,0,29,1,41.0,1,1,0,27496.0,152.0,39,0

In [10]:
corr_metrics=train_df.corr()
corr_metrics.style.background_gradient()

# **Model Development**

In [11]:
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

In [12]:
X = train_df.drop(['Response'],axis=1)
y = train_df['Response']

In [13]:
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.3, random_state=42)

## Logistic Regression

In [14]:
from sklearn.linear_model import LogisticRegression

lr = LogisticRegression(random_state=0)
lr = lr.fit(X_train, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

In [15]:
y_pred = lr.predict(X_test)
accuracy_score(y_test, y_pred)

0.8758975973690886

## Decision Tree

In [16]:
from sklearn import tree

dt = tree.DecisionTreeClassifier()
dt = dt.fit(X_train,y_train)

In [17]:
y_pred = dt.predict(X_test)
accuracy_score(y_test, y_pred)

0.8223609981370208